<div class="header main">
    <div class="head">
        <div class="logo fl">
            <a href="xxxxxx">
                LOGO
            </a>
        </div>
        <div class="top-menu">
            <ul class="nav_menu fr">
                <li class="nav_menu-item"><a href="javascript:void(0)"><%= $_$.$GET('NAV-GAME')%></a></li>
                <li class="nav_menu-item"><a href="javascript:void(0)"><%= $_$.$GET('NAV-APP')%></a></li>
                <li class="nav_menu-item"><a href="javascript:void(0)"><%= $_$.$GET('NAV-LOGIN')%></a></li>
            </ul>
        </div>
    </div>
</div>
