<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="logining">
    loading...
</div>
<div class="wrong" style="display: none">
    redirecting...
</div>

</body>
<%- include('inc/tmp_footer.htm')%>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-firestore.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyB8OgqivR7ljUjkDEV2saeFBYdBvQHBT7I",
        authDomain: "yanye-ebc44.firebaseapp.com",
        projectId: "yanye-ebc44",
        storageBucket: "yanye-ebc44.appspot.com",
        messagingSenderId: "51369500206",
        appId: "1:51369500206:web:36f78565d62d22f35949bf",
        measurementId: "G-W0J0BF3D6G"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script>
    let _provider = '<%= provider%>'
    function get_provider(_provider) {
        if(_provider === 'google'){
           return new firebase.auth.GoogleAuthProvider();
        }
        if(_provider === 'github'){
            return new firebase.auth.GithubAuthProvider();
        }
    }

    if(_provider){
        if(location.hash === '#redirecting'){
            firebase.auth()
            .getRedirectResult()
            .then((result) => {
                let token = ''
                if (result.credential) {
                    token = result.credential.accessToken;
                }
                let user = result.user;
                if(user) {
                    let req_data = {
                        user: {
                            id: user.providerData[0].uid,
                            name: user.displayName,
                            imageUrl: user.photoURL,
                            email: user.email
                        },
                        provider: _provider,
                        access_token: token
                    }
                    console.log(req_data, '>>>>>>')
                    $.ajax({
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        type: 'POST',
                        url: '/auth/verify',
                        data: req_data,
                        success: function (data) {
                            if (data.error) {
                                $('.logining').hide();
                                $('.wrong').show();
                                setTimeout(function () {
                                    window.close();
                                }, 5000);
                            } else {
                                setTimeout(function () {
                                    window.close();
                                }, 50);
                                alert('登录成功')
                            }
                        }
                    });
                }else {
                    firebase.auth().signInWithRedirect(get_provider(_provider));
                }
            }).catch((error) => {
                console.log(error,'errorerrorerrorerrorerrorerrorerrorerrorerrorerror')
            });
        }else {
            location.hash = 'redirecting'
            firebase.auth().signInWithRedirect(get_provider(_provider));
        }
    }else {
        console.log('firebase error')
    }


</script>
</html>
